.login-container {
	width: 100%;
	height: 100%;
	background: #fff url(./loginBg.jpg) no-repeat 0 0;
	background-size: cover;
}

.login-wrap {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	transform: translateY(-50%);
	background-color: #484848;
	border-radius: 5px;
	padding: 10px 10px;
	.ant-form-item {
		margin-bottom: 10px;
	}
	.ant-btn {
		width: 100%;
	}
	@at-root .login-title {
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		margin-bottom: 10px;
		color: #fff;
	}
}