.main-wrap {
	height: 100%;
}

div[data-reactroot] {
	height: 100%;
}

.content {
	width: 100%;
	background-color: #F4F4F4;
	height: 100%;
	padding-left: 240px;
}

.main_wrapper {
	margin-top: 20px;
	background-color: #fff;
	margin-left: 20px;
	min-height: 600px;
}