$height: 60px;

.header {
	background-color: #fff;
	height: $height;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;

}

.loginOut-btn {
	font-size: 14px;
	float: right;
	line-height: $height;
	color: #000;
	position: relative;
	z-index: 1200;
}

