/*
* @Author: kevin
* @Date:   2016-11-16 17:26:52
* @Last Modified by:   mqyqingfeng
* @Last Modified time: 2017-02-06 14:54:34
*/

#root {
	height: 100%;
}

.root-wrap {
	width: 100%;
	height: 100%;
}